body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    border-bottom: 1px solid #E9EAEC;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;
}

.home-btn {
    flex: 1;
    display: flex;
    align-items: center;
}

.home-btn a {
    font-size: 30px;
    color: black;
    text-decoration: none;
}

.title {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 1.5rem;
}

.title p {
    margin: 0;
    font-size: 32px;
    font-family: "Lobster", sans-serif;
}

.account {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.account a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-family: "Lisu Bosa", serif;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1.2rem;
}

.login-btn {
    background-color: white;
    border: 1px solid #E9EAEC;
    margin-right: 1rem;
}

.register-btn {
    background-color: #C3E0E5;
    border: 1px solid #C3E0E5;
}

.content {
    flex: 1;
    padding: 2rem;
}

.search {
    padding: 2rem 0rem;
    display: flex;
    justify-content: center;
}

.input {
    border: 1px solid #7c8188;
    border-radius: 5px;
    display: flex;
    padding: 0.5rem;
    width: 500px;
}

.input-search {
    border-right: 1px solid #d4d6d8;
    display: flex;
    margin-right: 0.5rem;
    flex: 1;
}

.input-search input {
    font-size: 18px;
    border: none;
    font-family: "Lisu Bosa", serif;
    flex: 1;
}

.input-search input::placeholder {
    color: #d4d6d8;
    font-family: "Lisu Bosa", serif;
}

.input-search input:focus {
    outline: none;
}

.input-btn {
    display: flex;
}

.input-btn a {
    text-decoration: none;
    font-size: 25px;
    color: #7c8188;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 0rem 0.3rem;
    text-wrap: nowrap;
}

.input-btn1 {
    margin-right: 0.4rem;
}

.input-btn1:hover {
    background-color: #C3E0E5; 
    border-radius: 5px;
}

.input-btn2:hover {
    background-color: #C3E0E5;
    border-radius: 5px;
}

.info-section {
    display: flex;
    padding: 2rem;
    overflow: hidden;
}

.med-info {
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 2px 2px #bec0c4;
    padding: 0.5rem 1rem;
    margin-right: 4rem;
    height: fit-content;
}

.med-info p {
    margin: 0;
    font-size: 18px;
    font-family: "Lisu Bosa", serif;
    line-height: 25px;
    text-wrap: nowrap;
}

.med-info span {
    color: #C3E0E5;
}

.reviews {
    background-color: #E9EAEC;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 1rem 2rem;
}

.reviews .user {
    display: flex;
    background-color: white;
    padding: 0.6rem;
    box-shadow: 2px 2px 2px 2px #bec0c4;
    margin-bottom: 1rem;
}

.user-image {
    margin-right: 0.5rem;
}

.user-image div {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #C3E0E5;
}

.user-info {
    display: flex;
    text-wrap: nowrap;
    align-items: center;
    flex-direction: row;
}

.user-name {
    font-weight: bold;
    padding-right: 2rem;
}

.review-date {
    color: #d4d6d8;
    padding-right: 2rem;
}

.user-stars {
    color: #d4d6d8;
    padding-right: 2rem;
}

.user-stars span {
    color: #b8d6dc;
}

.user-info p {
    margin: 0;
    font-size: 18px;
}

.user-review {
    padding: 0.3rem 0rem;
}

.user-review p {
    font-size: 18px;
    margin: 0;
}